.shappIcon {
  max-width: 500px;
  width: 90%;
}

.wrapperLogin {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fbButton {
  max-width: 250px;
  width: 90%;
  margin-top: 25px;
}

.title, .subtitle {
  font-family: arial;
  color: #285DA1;
}

.title {
  font-size: 100px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.subtitle {
  margin-top: 0px;
}

.textWelcome {
  font-size: 45px;
  font-family: "Avenir";
  color: #285DA1;
}

.textWelcome h1 {
  margin-bottom: 20px;
}

.divLoading {
  background-color: #285DA1;
  width: 100%;
  height: 100%;
}

.wrapperPic {
  border-radius: 50%;
  overflow: hidden;
  width: 300px;
  height: 300px;
}


.wrapperButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  max-width: 700px;
  padding-top: 20px;
}

.wrapperButtons > div {
  width: 257px;
}

.underline {
  border-bottom: 4px #285DA1 solid;
}

.wrapperButtons h1 {
  font-size: 30px;
  font-family: "Avenir";
  font-weight: bold;
  color: #285DA1;
  text-align: center;
  margin-bottom: 10px;
}

.bodyContent {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapperArticles {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.wrapperArticles > div{
  width: 90%;
  max-width: 900px;
  margin-top: 30px;
}

.line {
  height: 1px;
  background-color: black;
  width: 100%;
  margin-top: 15px;
}

.wrappH1 {
  display: flex;
  justify-content: flex-end;
  font-family: "Avenir";
  color: #285DA1;
}

.inputBox {
  display: flex;
  flex: 1;
  font-family: "Avenir";
  font-size: 20px;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  border: solid 1px #dcdcdc;
  box-shadow: inset 0 0 0 1px #707070;
}

.twoInputBoxes {
  display: flex;
}


.textArea {
  box-shadow: inset 0 0 0 0.5px #707070;
  padding-top: 5px;
  padding-left: 10px;
  font-family: "Avenir";
  width: 100%;
  height: 300px;
  font-family: "Avenir";
  font-size: 20px;
}

.addFiles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.addFiles span {
  background-color: #50E3C2;
  width: 300px;
}
.addFiles h1{
  color: white;
  font-family: "Avenir";
  font-weight: 100;
  font-size: 22px;
  text-align: center;
}

.cameraButton {
  max-width: 75px;
  margin-left: 20px;
}

.addFilesButton:active {
  background-color: black;
  opacity: 0.1;
}

.wrapperButtonsArticle {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputFile {
  opacity: 0;
  /*background-color: yellow;*/
  position: absolute;
  flex: 1;
  width: 300px;
  height: 66px;
}

.wrapperEndButtons {
  display: flex;
  justify-content: center;
}

.wrapperEndButtons div {
  border: solid black 1px;
  width: 250px;
}

.wrapperEndButtons div:nth-child(2) {
  background-color: #285DA1;
  color: white;
}

.wrapperEndButtons div:active {
  background-color: grey;
}

.wrapperEndButtons h1 {
  text-align: center;
  font-family: "Avenir";
  font-weight: 500;
  font-size: 20px;
}

/*PREVIEW IMAGE*/
.uploadPreview {
  object-fit: fill;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
}

.uploadPreviewWrapper {
  /*height: 0px;*/
  /*opacity: 0;*/
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uploadPreviewContainer {
  border: ridge grey 0.5px;
  width: 400px;
  height: 400px;
  /*display: flex;*/
}

.uploadPreviewWrapper h1 {
  font-family: "Avenir";
  font-weight: 600;
  opacity: 0.2;
  font-size: 17px;
}